//- ===============================
//- NEWSLETTER BOILERPLATE SETTINGS
//- 
//- For more settings
//- check out the included 
//- boilerplate-styles.styl file
//- ===============================

documentDoctype = 'xhtml'; //- html4, html5 or xhtml (default)

//- ===============================
//- ONLY EDIT THE INCLUDE PATH
//- (Jade does not allow variables
//- in include paths)
//- ===============================

if documentDoctype == 'xhtml'
  doctype strict
  html(xmlns="http://www.w3.org/1999/xhtml")
    include ../templates/boilerplate-template
else if documentDoctype == 'html4'
  doctype html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"
  html
    include ../templates/boilerplate-template
else if documentDoctype == 'html5'
  doctype html
  html
    include ../templates/boilerplate-template