  // ===============================
  // HTML EMAIL BP CSS SETTINGS
  // ===============================

  $linkColor        = #00f;
  $linkActiveColor  = #f00;
  $linkVisitedColor = #800080;

  $headingColor = #000;

  // Mobile
  $useMobileMediaqueries = false;
  $mobilePhoneColor      = #000;
  $mobilePhoneLinkColor  = #ffa500;

  // ===============================
  // RESET
  //
  // Originally based on The MailChimp Reset from Fabio Carneiro, MailChimp User Experience Design
  // More info and templates on Github: https://github.com/mailchimp/Email-Blueprints
  // http://www.mailchimp.com &amp; http://www.fabio-carneiro.com
  // INLINE: Yes.
  // ===============================

  // Client-specific Styles

  // Force Outlook to provide a "view in browser" menu link.
  #outlook {
    a {
      padding: 0;
    }
  }

  // Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design.
  body {
    width: 100% !important;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
  }

  // Force Hotmail to display emails at full width
  .ExternalClass {
    width: 100%;
    // Force Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/
    &, p, span, font, td, div {
      line-height: 100%;
    }
  }

  #backgroundTable {
    margin: 0;
    padding: 0;
    width: 100% !important;
    line-height: 100% !important;
  }

  // ===============================
  // END RESET
  // ===============================

  // Some sensible defaults for images
  // 1. "-ms-interpolation-mode: bicubic" works to help ie properly resize images in IE. (if you are resizing them using the width and height attributes)
  // 2. "border:none" removes border when linking images.
  // 3. Updated the common Gmail/Hotmail image display fix: Gmail and Hotmail unwantedly adds in an extra space below images when using non IE browsers. You may not always want all of your images to be block elements. Apply the "image_fix" class to any image you need to fix.

  img {
    outline: none;
    text-decoration: none;
    -ms-interpolation-mode: bicubic;
    a & {
      border: none;
    }
  }

  .image_fix {
    display: block;
  }

  // Yahoo paragraph fix: removes the proper spacing or the paragraph (p) tag. To correct we set the top/bottom margin to 1em in the head of the document.
  // Simple fix with little effect on other styling. NOTE: It is also common to use two breaks instead of the paragraph tag but I think this way is cleaner and more semantic.
  // NOTE: This example recommends 1em. 
  // More info on setting web defaults: http://www.w3.org/TR/CSS21/sample.html or http://meiert.com/en/blog/20070922/user-agent-style-sheets/
  // Bring inline: Yes.

  p {
    margin: 1em 0;
  }

  // Hotmail header color reset: Hotmail replaces your header color styles with a green color on H2, H3, H4, H5, and H6 tags.
  // In this example, the color is reset to black for a non-linked header, blue for a linked header, 
  // red for an active header (limited support), and purple for a visited header (limited support).
  // Replace with your choice of color. The !important is really what is overriding Hotmail's styling.
  // Hotmail also sets the H1 and H2 tags to the same size.
  // Bring inline: Yes.

  h1, h2, h3, h4, h5, h6 {
    color: $headingColor !important;
    a {
      color: $linkColor !important;
      // Preferably not the same color as the normal header link color.
      // There is limited support for psuedo classes in email clients, this was added just for good measure.
      &:active {
        color: $linkActiveColor !important;
      }
      // Preferably not the same color as the normal header link color.
      // There is limited support for psuedo classes in email clients, this was added just for good measure.
      &:visited {
        color: $linkVisitedColor !important;
      }
    }
  }

  // Outlook 07, 10 Padding issue: These "newer" versions of Outlook add some padding around table cells potentially throwing off your perfectly pixeled table.
  // The issue can cause added space and also throw off borders completely.
  // Use this fix in your header or inline to safely fix your table woes.
  // More info: 
  // http://www.ianhoar.com/2008/04/29/outlook-2007-borders-and-1px-padding-on-table-cells/
  // http://www.campaignmonitor.com/blog/post/3392/1px-borders-padding-on-table-cells-in-outlook-07/
  // H/T @edmelly
  // Bring inline: No.

  table {
    td {
      border-collapse: collapse;
    }
  }

  // Remove spacing around Outlook 07, 10 tables
  // More info: http://www.campaignmonitor.com/blog/post/3694/removing-spacing-from-around-tables-in-outlook-2007-and-2010/
  // Bring inline: Yes

  table {
    border-collapse: collapse;
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
  }

  // Styling your links has become much simpler with the new Yahoo.
  // In fact, it falls in line with the main credo of styling in email, bring your styles inline.
  // Your link colors will be uniform across clients when brought inline.
  // Bring inline: Yes
    
  a {
    color: $linkColor;
  }

  // Or to go the gold star route...
  // a
  //   &:link
  //     color: orange
  //   &:visited
  //     color: blue
  //   &:hover
  //     color: green

  // ===============================
  // CUSTOM STYLING
  // ===============================

  .innerTable {
    width: 680px;
    font-size: 10px;
    font-family: Arial, sans-serif;
    line-height: 150%;
    color: #444;
  }

  .hr {
    background: #ccc;
    height: 18px;
  }

  .paragraph {
    margin: 12px 0;
    font-size: 10px;
    font-family: Arial, sans-serif;
    line-height: 150%;
    color: #444;
  }

  .heading {
    text-transform: uppercase;
    font-size: 12px;
    font-family: Arial, sans-serif;
    margin: 12px 0;
    line-height: 150%;
    color: #002942;
  }

  .headingBox {
    background: #eee;
    width: 660px;
  }   

  .middleBox {
    background: #eee;
    width: 320px;
  }

  .sideMargin {
    background: #ccc;
    width: 10px;
  }

  .middleMargin {
    background: #ccc;
    width: 20px;
  }
